$slideDuration: 0.5s;
$hoverDuration: 0.2s;
#left {
    text-align: center;
    background: #fdfdfd;
    position: absolute;
    top: 0;
    left: 0px;
    transform: translateX(0%);
    height: 100%;
    width: 200px;
    transition: transform $slideDuration;
    box-shadow: 1px 0 0px rgba(0, 0, 0, 0.15);
    z-index: 1;
    @media (max-width:$max) {
        width: 200px;
    }
    .share-container {
        position: absolute;
        bottom: 20px;
        width: 100%;
        left: 0;
        .share {
            font-size: 24px;
            color: #cad6da;
            @media (max-width:$max) {
                font-size: 12px;
            }
            &:hover {
                color: #ffffff;
            }
        }
    }
}
#left.closed {
    // left: -400px;
    transform: translateX(-100%);
    #menu-left {
        left: 50%;
    }
}
#left.open {
    #menu-right {
        background-color: #4e7f88;
    }
    .menu-handle {
        .handle-triangle {
            fill: #4e7f88
        }
        .cross {
            opacity: 0.6;
        }
    }
}
#left.open.hovered {
    .cross {
        opacity: 1;
    }
}
#left.closed.hovered {
    .menu-handle {
        left: 100%;
    }
    .patties {
        fill: #000000;
    }
}
#menu-left {
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    width: 50%;
    background-color: #ffffff;
    z-index: 2;
    transition: all $slideDuration;
    .links {
        text-align: center;
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        a {
            font-family: $tungsten;
            font-size: 25px;
            color: #555555;
            display: block;
            text-decoration: none;
            font-weight: 300;
            @media (max-width:$max) {
                font-size: 16px;
            }
            &:hover {
                color: #000;
            }
        }
        .divider {
            width: 50%;
            margin: 25px auto;
            content: '';
            border-bottom: 1px solid #dfdfdf;
            @media (max-width:$max) {
                margin: 16px auto;
            }
        }
    }
}
#menu-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
    text-align: center;
    transition: all $slideDuration;
    .filters {
        // transform-origin: center top;
        padding: 0 0 50px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        &:after {
            content: "";
            width: 26px;
            height: 26px;
            position: absolute;
            background-color: #ffffff;
            left: 50%;
            bottom: 0;
            margin-left: -13px;
            border-radius: 50%;
        }
        &:before {
            content: "";
            width: 1px;
            height: 100%;
            position: absolute;
            background-color: #ffffff;
            opacity: 0.3;
            left: 50%;
        }
    }
    .filter {
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Tungsten A", "Tungsten B";
        font-weight: 500;
        font-style: normal;
        font-size: 20px;
        margin: 36px auto;
        display: block;
        color: $greentext;
        position: relative;
        border: 2px solid #ffffff;
        height: 108px;
        width: 108px;
        border-radius: 50%;
        background-color: $greentext;
        transition: all $hoverDuration;
        @media (max-width:$max) {
            margin: 24px auto;
            width: 70px;
            height: 70px;
        }
        &.filter-all {
            height: 62px;
            width: 56px;
            margin-top: 0;
            border: none;
            svg {
                margin: 0 auto;
                path {
                    transition: all $hoverDuration;
                    fill: $greentext;
                    cursor: pointer;
                }
            }
        }
        &.active {
            background-color: #fff;
            &.filter-all {
                background-color: $greentext;
            }
            .text {
                color: $greentext;
            }
            svg path {
                fill: #ffffff;
            }
        }
        .text {
            position: absolute;
            width: 100%;
            color: #ffffff;
            top: 50%;
            margin-top: -12px;
            cursor: pointer;
            transition: all $hoverDuration;
            @include lightondark;
            @media (max-width:$max) {
                font-size: 14px;
                margin-top: -8px;
            }
        }
    }
}
.menu-handle {
    position: absolute;
    top: 50%;
    left: 98%;
    margin-top: -108px;
    cursor: pointer;
    transition: left 0.2s;
    z-index: 0;
    @media (max-width:$max) {
        transform-origin: left 50%;
        transform: scale(0.5);
    }
    .patties {
        transition: fill 0.2s;
        pointer-events: none;
    }
    .handle-triangle {
        transition: all $slideDuration;
    }
    .cross {
        opacity: 0;
        pointer-events: none;
        transition: all $slideDuration;
    }
}