#right {
    text-align: center;
    background: #fdfdfd;
    position: absolute;
    top: 0;
    right: -400px;
    height: 100%;
    width: 400px;
    transition: transform 1s;
    z-index: 3;
    @media (max-width:$max) {
        width: 100%;
        right: -100%;
    }
    &.open {
        transform: translate3d(-100%, 0, 0);
    }
    .node-detail {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 1s;
        opacity: 0;
        .detail-close {
            position: absolute;
            top: 30px;
            left: 30px;
            width: 45px;
            height: 45px;
            border: 2px solid #7dacb4;
            border-radius: 50%;
            cursor: pointer;
            background-color: #ffffff;
            path {
                transition: fill 0.2s;
            }
            &:hover {
                path {
                    fill: #000000;
                }
            }
            @media (max-width:$max) {
                top: 15px;
                left: 15px;
                transform: scale(0.7);
                transform-origin: 0 0;
            }
            svg {
                position: absolute;
                top: 13px;
                left: 13px;
            }
        }
        .image-container {
            min-height: 66px;
        }
        .node-image {
            width: 100%;
            display: block;
            &.icon {
                width: 84px;
                margin: 100px auto 0;
                @media (max-width:$max) {
                    width: 66px;
                    margin: 43px auto 0;
                }
            }
        }
        iframe {
            background-color: #000;
        }
        .detail-padded {
            padding: 25px;
        }
        .detail-content {
            box-sizing: border-box;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .strong_parent {
            font-size: 15px;
            font-weight: 300;
            letter-spacing: 2px;
            color: #6a6a6a;
            span {
                @include whiskers(35px, 15px, 8px);
            }
        }
        h1 {
            font-family: $tungsten;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 60px;
            line-height: 1;
            letter-spacing: 2px;
            margin: 6px auto 30px;
            &.category-header span {
                // @include whiskers(35px, 14px, 35px);
            }
        }
        h2 {
            font-size: 22px;
            font-weight: 300;
            letter-spacing: 1px;
            margin: 30px 0;
            color: #3b3b3b;
        }
        .source {
            color: $greentext;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 2px;
        }
        .bylinedateline {
            font-size: 11px;
            letter-spacing: 1.5px;
            color: $graytext;
        }
        .description {
            font-weight: 300;
            font-size: 16px;
            letter-spacing: 1px;
            line-height: 22px;
            color: #3d3d3d;
            margin-bottom: 30px;
        }
        .button {
            margin: 60px auto 20px;
            display: block;
            text-decoration: none;
            color: $greentext;
            letter-spacing: 1.5px;
            &:hover {
                color: #ffffff;
            }
        }
        .detail-bottom {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
        .detail-related {
            padding-top: 0;
            margin-bottom: 86px;
            .label {
                font-family: $tungsten;
                font-size: 24px;
                font-weight: 300;
                letter-spacing: 1.5px;
                padding-top: 15px;
                border-top: 1px solid #cdd7da;
            }
            a {
                color: #4e7f88;
                text-decoration: none;
                font-size: 14px;
                &:hover {
                    color: #000;
                }
            }
        }
        .detail-share {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            box-sizing: border-box;
            height: 88px;
            background-color: #4d7d86;
            color: #fff;
            line-height: 1;
            transition: height 0.5s;
            .heading {
                font-family: $tungsten;
                font-weight: 300;
                font-size: 30px;
                margin: 15px 0 46px 100px;
                padding-left: 30px;
                border-left: 1px solid #75989f;
                text-align: left;
                letter-spacing: 1px;
                position: relative;
                top: 0;
                transition: top 0.5s;
                @media (max-width:$max) {
                    margin-left: 90px;
                }
                .icon-share {
                    position: absolute;
                    top: 20px;
                    left: -64px;
                    font-size: 21px;
                    z-index: 1;
                    transition: all 0.2s;
                    @media (max-width:$max) {
                        left: -60px;
                    }
                }
                .icon-close {
                    position: absolute;
                    top: 20px;
                    left: -58px;
                    opacity: 0;
                    z-index: 0;
                    transition: all 0.2s;
                    cursor: pointer;
                    @media (max-width:$max) {
                        left: -56px;
                    }
                    &:hover {
                        path {
                            fill-opacity: 0.8;
                        }
                    }
                    path {
                        fill: #ffffff;
                    }
                }
            }
            &.open {
                height: 390px;
                .heading {
                    top: 16px;
                }
                .icon-share {
                    opacity: 0;
                    z-index: 0;
                }
                .icon-close {
                    opacity: 1;
                    z-index: 1;
                }
            }
            .icons {
                padding: 25px 0 0;
            }
            .share-image-container {
                width: 100%;
                min-height: 190px;
                padding: 0;
                position: relative;
                svg {
                    position: absolute;
                    z-index: 0;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                path {
                    fill: none;
                    stroke: #ffffff;
                }
                img {
                    position: relative;
                    z-index: 1;
                }
            }
            .share-image {
                opacity: 0;
                transition: opacity 0.3s;
                width: 90%;
                margin: 0 auto;
                display: block;
            }
        }
    }
}