.question-page {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1;
    font-weight: 300;
    padding: 0 5% 0;
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 60px;
    opacity: 0;
    transition: opacity 0.5s;
    .progress {
        height: 22px;
        display: inline-block;
        position: relative;
        margin-top: 60px;
        @media (max-width:$max) {
            display: block;
            position: absolute;
            right: 3%;
            top: 50%;
            height: auto;
            transform: translateY(-50%);
            margin-top: 0;
        }
        &:before {
            content: '';
            position: absolute;
            background-color: #7eacb5;
            z-index: -1;
            height: 1px;
            width: 100%;
            top: 50%;
            left: 0;
            @media (max-width:$max) {
                left: 50%;
                top: 0;
                width: 1px;
                height: 100%;
            }
        }
        div {
            border: 2px solid #7eacb5;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: #fff;
            margin-left: 20px;
            float: left;
            @media (max-width:$max) {
                width: 9px;
                height: 9px;
                margin-top: 20px;
                margin-left: 0;
                float: none;
            }
            &:nth-child(1) {
                margin-left: 0;
                @media (max-width:$max) {
                    margin-top: 0;
                }
            }
            &.filled {
                background-color: #7eacb5;
            }
        }
    }
    .centered {
        margin: 0 auto;
    }
    .label span {
        font-family: $tungsten;
        font-weight: 300;
        font-size: 65px;
        letter-spacing: .05em;
        @include whiskers(70px, 20px, 38px);
        @media (max-width:$max) {
            font-size: 32px;
            @include whiskers(0, 8px, 6px);
        }
    }
    h1 {
        font-weight: 300;
        font-size: 35px;
        line-height: 1;
        letter-spacing: 3px;
        margin: 28px auto 22px;
        color: #515151;
        @media (max-width:$max) {
            font-size: 16px;
            margin: 14px auto 11px;
        }
    }
    .divider {
        width: 240px;
        margin: 23px auto;
        position: relative;
        @media (max-width:$max) {
            margin: 12px auto;
        }
        &:before {
            background-color: #cfd9dc;
            height: 1px;
            width: 240px;
            position: absolute;
            content: "";
            top: 10px;
            left: 0;
            z-index: -1;
        }
    }
    .answers {
        margin: 24px auto 60px;
        @media (max-width:$max) {
            margin: 12px auto 30px;
        }
    }
    .answer {
        display: inline-block;
        width: 140px;
        height: 140px;
        margin: 0 20px;
        box-sizing: border-box;
        padding: 20px;
        position: relative;
        border-radius: 50%;
        border: 2px solid $red;
        transition: all 0.2s;
        cursor: pointer;
        @media (max-width:$max) {
            width: 70px;
            height: 70px;
            margin: 0 10px;
            padding: 10px;
        }
        &:hover {
            color: #ffffff;
            background-color: $red;
        }
        .answer-text {
            width: 100px;
            height: 100px;
            font-family: $tungsten;
            font-size: 20px;
            line-height: 22px;
            letter-spacing: 1px;
            margin: 0 45px;
            position: relative;
            display: table-cell;
            vertical-align: middle;
            @media (max-width:$max) {
                width: 50px;
                height: 50px;
                font-size: 10px;
                line-height: 11px;
                margin: 0 22px;
            }
        }
    }
    .skip {
        width: 350px;
        margin: 0 auto;
        @media (max-width:$max) {
            width: 250px;
        }
    }
}